#mw-messenger {
    display: flex;
    gap: 30px;
    
    & #mw-messenger-channels-list {
        width: 100px;
    }

    & .mw-messenger-message {
        margin-bottom: 20px;

        & .mw-messenger-message-header {
            display: flex;
            gap: 500px;
            & .mw-messenger-message-author {
                display: flex;
                margin-right: auto;
                width: fit-content;
            }
            & .mw-messenger-message-header-right {
                display: flex;
                gap: 10px;
                width: fit-content;
            }
        }
    }

    & #mw-messenger-textarea-send-message {
        display: flex;
        gap: 10px;
    }

    textarea {
        height: 100px;
    }

    & .mw-messenger-message-editor-footer-btns {
        display: flex;
        gap: 10px;
        margin-top: 10px
    }

    & .load-newest-btn {
        margin-bottom: 20px;
    }
    & .load-older-btn {
        margin-bottom: 10px;
    }

    & .mw-messenger-message-message-editor-closed {
        display: flex;
        gap: 30px;
    }

    & .mw-messenger-message-reactions-reaction {
        background: lightgray;
        padding: 5px;
        border-radius: 6px;
        padding-left: 8px;
        padding-right: 8px;
    
        margin-right: 10px;
    
        & .mw-messenger-message-reactions-reaction-reaction {
            margin-right: 2px;
    
            & img {
                height: 15px;
                width: 18px;
                margin-right: 2px;
            }
        }
    }

    & .mw-messenger-message-reactions-reaction-super-plus {
        border: 1px solid lightgray;
         padding: 4px;
         border-radius: 6px;
         padding-left: 12px;
         padding-right: 12px;
     
         margin-right: 10px;
         color: lightgray;

         cursor: pointer;
     
    }

    & .reaction-picker {
        border: 1px solid lightgray;
        height: 250px;
        display: inline-flex;
        width: 200px;
        position: relative;
        background-color: white;

        overflow-x: scroll;
        flex-direction: column;

        & .reactions-picker-standard-reactions {
            display: flex;
            flex-direction: column;
        }
    }

    & .custom-reaction-img {
        height: 20px;
        width: 22px;
    }
    & .reactions-picker-custom-reaction {
        margin: 1px
    }

    & .custom-reaction-img,
    & .emoji-group-emojis {
        cursor: pointer;
    }
    
    & .mw-messenger-message-reactions-reaction-my-reaction {
        border: 1px solid;
    }
}
[v-cloak] {
    display: none;
}