#mw-messenger {
    display: flex;
    gap: 30px;
    
    & #mw-messenger-channels-list {
        width: 100px;
    }

    & .mw-messenger-message {
        margin-bottom: 20px;

        & .mw-messenger-message-header {
            display: flex;
            gap: 500px;
            & .mw-messenger-message-author {
                display: flex;
                margin-right: auto;
                width: fit-content;
            }
            & .mw-message-right {
                display: flex;
                margin-left: auto;
                width: fit-content;
            }
        }
    }

    & #mw-messenger-textarea-send-message {
        display: flex;
        gap: 10px;
    }
}

[v-cloak] {
    display: none;
}